<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PBL Project Bus Reservation System">
    <meta name="author" content="Animesh Sharma, Aman Soni, Abhishek Kumar and Aditya Kushwah">
    <title>About Us</title>
    <link rel="icon" href="/static/otherimgs/bus-alt-solid.ico" type="image/icon">
    <script src="https://kit.fontawesome.com/0357439eb6.js" crossorigin="anonymous"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="./index.html"><em class="fas fa-bus"></em></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./index.html">Bus kar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookingticket">Book Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
        </ul>
          <a class="btn btn-outline-success" href="/adminlogin">Login</a>
      </div>
    </div>
  </nav>
</header>

<main>

  <section class="py-5 text-center container ">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Us</h1>
        <p class="lead text-muted">We the Group members who worked on this Project: "Bus Reservation System" are 3rd year students, pursuing B.Tech in Compter Science Engineering.
          This is our Project Based Learning Project under the Guidance of Mr. D.D. Shrivastav.
        </p>
        <p>
          <a href="http://www.itmgoi.in/" target="blank" class="btn btn-primary my-2">Visit ITM</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" style="width: 20em;">
          <div class="card shadow-sm">
            <div style ="position: relative; text-align: center; color: white;">
              <img src="/static/devimgs/animesh_sharma.jfif" alt="animesh_sharma" style="width:100%; filter: brightness(50%);">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><text style=" font-size: 1.5em;" >Animesh Sharma</div>
            </div>
            <div class="card-body">
              <ul><li>Worked on Frontend</li><li>Documnetation.</li></ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="https://www.instagram.com/animesh_c137/" target="blank"><em class="fab fa-instagram"></em></a> &nbsp;&nbsp;
                <a href="https://www.github.com" target="blank"><em class="fab fa-github"></em></a> &nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/animesh-sharma-2001/" target="blank"><em class="fab fa-linkedin-in"></em></a> &nbsp;&nbsp;
                </div>
                <small class="text-muted">3r year B.Tech</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 20em;">
          <div class="card shadow-sm">
            <div style ="position: relative; text-align: center; color: white;">
              <img src="/static/devimgs/aman_soni.jfif" alt="aman_soni" style="width:100%; filter: brightness(50%);">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><text style=" font-size: 1.5em;" >Aman<br>Soni</text></div>
            </div>
            <div class="card-body">
              <ul><li>Worked on Backend</li><li>Documnetation.</li></ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.instagram.com/__amansoni__/" target="blank"><em class="fab fa-instagram"></em></a> &nbsp;&nbsp;
                  <a href="https://www.github.com" target="blank"><em class="fab fa-github"></em></a> &nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/aman-soni-6a35971bb/" target="blank"><em class="fab fa-linkedin-in"></em></a> &nbsp;&nbsp;
                  </div>
                  <small class="text-muted">3r year B.Tech</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 20em;">
          <div class="card shadow-sm">
            <div style ="position: relative; text-align: center; color: white;">
              <img src="/static/devimgs/abhishek_kumar.jfif" alt="abhishek_kumar" style="width:100%; filter: brightness(50%);">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><text style=" font-size: 1.5em;" >Abhishek Kumar</text></div>
            </div>  
            <div class="card-body">
              <ul><li>Error Handeling</li><li>Debugging</li></ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.instagram.com/i_a_b_h_i_i/" target="blank"><em class="fab fa-instagram"></em></a> &nbsp;&nbsp;
                  <a href="https://www.github.com" target="blank"><em class="fab fa-github"></em></a> &nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/abhishek-kumar-a80b961a3/" target="blank"><em class="fab fa-linkedin-in"></em></a> &nbsp;&nbsp;
                  </div>
                  <small class="text-muted">3r year B.Tech</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="width: 20em;">
          <div class="card shadow-sm">
            <div style ="position: relative; text-align: center; color: white;">
              <img src="/static/devimgs/Ady.jpg" alt="aditya_kushwah" style="width:100%; filter: brightness(50%);">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><text style=" font-size: 1.5em;" >Aditya Kushwah</text></div>
            </div> 
            <div class="card-body">
              <ul><li>Error Handeling</li><li>Debugging</li></ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.instagram.com/aditya__kushwah_/" target="blank"><em class="fab fa-instagram"></em></a> &nbsp;&nbsp;
                  <a href="https://www.github.com" target="blank"><em class="fab fa-github"></em></a> &nbsp;&nbsp;
                  <a href="https://www.linkedin.com" target="blank"><em class="fab fa-linkedin-in"></em></a> &nbsp;&nbsp;
                  </div>
                <small class="text-muted">3r year B.Tech</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2021 PBL Pvt. ltd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

    <script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
